/* Style for radio buttons */
.radio-custom {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+.radio-custom:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #2196f3;
  border-radius: 50%;
}

/* Style for table */
.radio-table {
  font-family: Calibri, sans-serif;
  border-collapse: collapse;
  width: 800px;
  /* background-color: #73b4fa; */
}

.radio-table th,
.radio-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.radio-table th {
  background-color: #007bff;
  color: #fff;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
}


button[type="submit"] {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

button[type="submit"]:hover {
  background-color: black;
}

.radio-table {
  border-collapse: collapse;
}

.radio-table th,
.radio-table td {
  border: 1px solid black;
  padding: 10px;
}


.select-element {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  width: 200px;
  margin-bottom: 16px;
}